h1{
    color: aquamarine;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #000;
    width: 400px;
    margin:20px auto;
}

body{
    background-color: blueviolet;

}

img{
    width: 400px;
}

#gallery{
    display: flex;
    flex-direction: colum;
    justify-content: center;
    align-items: center;
    gap: 20px
}